<div class="header">
    <div class ="search-form">
        <img 
            src="../../../assets/logo.svg" 
            alt="blueYoutube icon"
            class="logo-icon"
            height="100%"
            width="100%"
        />
        <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
            <input [(ngModel)]="value" name="value" placeholder="Enter you search type here..."/>
            <button class='search-button'>search </button>
            <button type='button' (click)="changeVisible()" class='settings-button'>
                <img
                src="../../../assets/setup.svg" 
                alt="blueYoutube icon"
                height="100%"
                width="100%" >
            </button>
        </form>
    </div>
    <div class='login-panel'>
        <h5>Your Name</h5>
        <button class='login-user-button'>
            <img
                src="../../../assets/user.svg"
                alt="user icon"
                height="100%"
                width="100%" 
            />
        </button>
    </div>
    <div *ngIf="this.isSortingVisible" class='sorting-form'>
        <p>Sorting by:</p> 
        <input class='sorting-button' type='button' (click)="sorterBy('dates')" value='date'/>
        <input class='sorting-button' type='button' (click)="sorterBy('views')"value='count of views'/>
        <p class='sorting-info'>by word or sentence</p>
        <input class='sorting-input' type='input' [(ngModel)]="filterValue" (keyup)="filterBy()">
    </div>
</div>