    <img src ='{{thumbnails.default.url}}'/>
    <ul>
        <li class= 'views'>
            <img
            class="eye-icon"
            src="../../../assets/eye.svg"
            alt="views icon"
            height="16px"
            width="16px" 
            />
            <p>
                {{statistics.viewCount}}
            </p>
        </li>
        <li class= 'likes'>
            <img
            class='heart-icon'
            src="../../../assets/heart.svg"
            alt="likes icon"
            height="12px"
            width="12px" 
            />
            <p>
                {{statistics.likeCount}}
            </p>
        </li>
        <li class= 'dislikes'>
            <img
            src="../../../assets/heart.svg"
            class="disheart-icon"
            alt="dislikes icon"
            height="12px"
            width="12px" 
            />
            <p>
                {{statistics.dislikeCount}}
            </p>
        </li>
        <li class= 'shared'>
            <img
            class="comments-icon"
            src="../../../assets/copy.svg"
            alt="comments icon"
            height="12px"
            width="12px" 
            />
            <p>
                {{statistics.commentCount}}
            </p>
                
        </li>
    </ul>
    <h2 class='video-title'>{{item.snippet.title}}</h2>
    <button>more...</button>


