<ul>
    <li class= 'views'>
        <img
        src = "{{itemService.views.src}}"
        class = "{{itemService.views.class}}"
        alt = "{{itemService.views.alt}}"
        />
        <p>
            {{stats.viewCount}}
        </p>
    </li>
    <li class= 'likes'>
        <img
        src = "{{itemService.likes.src}}"
        class = "{{itemService.likes.class}}"
        alt = "{{itemService.likes.alt}}"
        />
        <p>
            {{stats.likeCount}}
        </p>
    </li>
    <li class= 'dislikes'>
        <img
        src = "{{itemService.dislikes.src}}"
        class = "{{itemService.dislikes.class}}"
        alt = "{{itemService.dislikes.alt}}"
        />
        <p>
            {{stats.dislikeCount}}
        </p>
    </li>
    <li class= 'shared'>
        <img
        src = "{{itemService.comments.src}}"
        class = "{{itemService.comments.class}}"
        alt = "{{itemService.comments.alt}}"
        />
        <p>
            {{stats.commentCount}}
        </p>
            
    </li>
</ul>